form(action='/products' method='post')
  input(type='text' name='title' placeholder='Title')
  input(type='text' name='price' placeholder='Price')
  input(type='text' name='thumbnail' placeholder='Thumbnail')
  button  Enviar! 
a(href='/products')
  button Ir a productos