<!DOCTYPE html>
<html lang="en">

<body>
    <form action="/products" method="post">
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="price" placeholder="Price" />
        <input type="text" name="thumbnail" placeholder="Thumbnail" />
        <button> Enviar! </button>
    </form>
    
    
    <a href="/products"><button>Ir a productos</button></a>
</body>
</html>