<div>
    <h1>Login de Usuario</h1>
		<br />
		<form
			class="form"
			action="/login"
			method="post"
			role="form"
			autocomplete="off"
		>

			<div >
				<input
					id="nombre"
					name="username"
					placeholder="user"
					class="form-control"
					type="text"
					required
				/>
			</div>

			<div >
				<input
					id="password"
					name="password"
					placeholder="password"
					class="form-control"
					type="password"
					required
				/>
			</div>

			<div >
				<input  type="submit" value="Login" />

			</div>
<div >
			<button
				
				onclick="location.href = '/register'"
			>Ir a Registrar</button>
		</div>
		</form>

</div>